[Desktop Entry]
Comment=Aero-style Plasma theme (forked from ExposeAir by Mark Whittaker)
Name=Windows 7 Enhanced
X-KDE-PluginInfo-Author=Mark Whittaker; Leon Khoo
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=phobian@tutanota.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL-3.0-or-later
X-KDE-PluginInfo-Name=windows-7-enhanced
X-KDE-PluginInfo-Version=6.0
X-KDE-PluginInfo-Website=https://github.com/leonkhoo123/windows-7-enhanced
X-Plasma-API=5.0
